.acf-fc-popup {
  box-sizing: border-box;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 80%;
  height: 80%;
  max-width: 1200px;
  max-height: 1200px;
  background: none !important;
  padding: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);

  * {
    box-sizing: border-box;
  }

  &::before,
  &::after {
    border-color: transparent !important;
  }

  &::before {
    content: '';
    position: fixed;
    top: -100% !important;
    right: 0 !important;
    bottom: 0 !important;
    left: -100% !important;
    width: 200vw;
    height: 200vh;
    background: rgba(#000, .8);
    padding: 0;
    margin: 0 !important;
  }

  ul {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    padding: 15px;
    border: #ccc;
    box-shadow: 0 0 8px rgba(#000, .5);
    overflow: auto;

    li {
      float: left;
      width: calc(100% / 3);
      padding: 1%;

      a {
        display: block;
        height: 150px;
        background-position: center !important;
        background-repeat: round !important;
        background-size: cover !important;
        border: 1px solid #ddd;
        transition: .2s ease-in-out;

        &:hover,
        &:focus,
        &:active {
          box-shadow: inset 0 0 0 4px rgba(#1699d5, 1);
        }

        div {
          position: absolute;
          top: 10px;
          left: 12px;
          background-color: white;
          color: black;
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 5px 10px;
          box-shadow: 0 3px 10px rgba(#000, .3);
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {

  .acf-fc-popup ul li {
    width: 50%;
  }
}

@media only screen and (max-width: 782px) {

  .acf-fc-popup {
    width: 95%;
    height: 88%;

    ul li {
      width: 100%;
    }
  }
}
