.acf-fc-popup {
  box-sizing: border-box;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 95%;
  height: 88%;
  max-width: 1400px;
  max-height: 1200px;
  background: none !important;
  padding: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 783px) {
  .acf-fc-popup .acf-fc-popup {
    width: 80%;
    height: 80%;
  }
}
.acf-fc-popup * {
  box-sizing: border-box;
}
.acf-fc-popup::before, .acf-fc-popup::after {
  border-color: transparent !important;
}
.acf-fc-popup::before {
  content: "";
  position: fixed;
  top: -100% !important;
  right: 0 !important;
  bottom: 0 !important;
  left: -100% !important;
  width: 200vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0 !important;
}
.acf-fc-popup ul {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  padding: 15px !important;
  border: #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.acf-fc-popup ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
}
.acf-fc-popup ul li {
  width: 100%;
  padding: 15px;
}
@media only screen and (min-width: 600px) {
  .acf-fc-popup ul li {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .acf-fc-popup ul li {
    width: calc(100% / 3);
  }
}
.acf-fc-popup ul li a {
  padding: 0;
  box-shadow: 0 10px 16px -6px #777;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.acf-fc-popup ul li a:hover, .acf-fc-popup ul li a:focus, .acf-fc-popup ul li a:active {
  box-shadow: 0 10px 6px -6px #777;
}
.acf-fc-popup ul li a:hover .acf-fc-popup-label, .acf-fc-popup ul li a:focus .acf-fc-popup-label, .acf-fc-popup ul li a:active .acf-fc-popup-label {
  background-color: #006799;
}
.acf-fc-popup ul li a .acf-fc-popup-label {
  position: relative;
  background-color: #0085ba;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
.acf-fc-popup ul li a .acf-fc-popup-image {
  background-position: center !important;
  background-repeat: round !important;
  background-size: cover !important;
  padding-bottom: 41.67%;
}